* {
    margin: 0;
    padding: 0;
    user-select: none;
}

li{
    list-style-type: none;
}

select{
    font-size: 1.4rem;
    width: 10em;
    margin: 1em 0;
    outline: none;
    // padding: ;
}